# API Backend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_API_BASE_PATH=/api/v1

# App Config
NEXT_PUBLIC_APP_NAME=Verus.AI
NEXT_PUBLIC_APP_VERSION=1.1.0

# TinyMCE
# Get your API key at: https://www.tiny.cloud/auth/signup/
NEXT_PUBLIC_TINYMCE_API_KEY=your-tinymce-api-key-here
